{% extends 'base.html.twig' %}

{% block title %}Event index
{% endblock %}

{% block body %}

	<h1 class="display-6 mt-3 text-center">Events world</h1>

	<div class="row d-flex justify-content-between">

		{% for event in events %}

			<div class="card card-hover px-0 m-2 shadow-lg" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ asset("images/" ~ event.image) }}" class="img-fluid" style="height: 100%;">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title fw-semibold">{{ event.name }}</h5>
							<p class="card-text">{{ event.date ? event.date|date('d-m-Y') : '' }}</p>
							<p class="card-text">{{ event.date ? event.date|date('H:i') : '' }}h</p>
							<p class="card-text">
								<small class="text-muted">{{ event.type }}</small>
							</p>

							<div class="d-flex justify-content-end">
								<a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-sm btn-primary m-1 ">Details</a>
								<a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-sm btn-warning m-1">Edit</a>
								{{ include('event/_delete_form.html.twig') }}
							</div>

						</div>
					</div>
				</div>
			</div>

		{% else %}
			<tr>
				<td colspan="13">no events found</td>
			</tr>


		{% endfor %}
	</div>

{% endblock %}
